{% load static %}
<title> Mana School</title>
<link rel="shortcut icon" type="image/png" href="/static/img/potion.png"> <!-- https://www.teepublic.com/pin/10477446-mana-potion-illustration -->
<base href="/">
<link rel="stylesheet" href="/static/css/index.css?{{ now  }}" />

<!DOCTYPE html>
<html>
<head>
	<title>Mana School</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="top">
    <div id="title">Mana School</div>
</div>

<div id="fold1">
    <div class="bg"></div>
    <ul>
        <li><div class="title">Tutoring</div>
        <li><div class="title">Apprenticeship</div>
        <li><div class="title">Business Coaching</div>
    </ul>
</div>

<canvas id="canvas"></canvas>

<div id="fold2">
    <div class="title">Our Foundations </div>
    <div class="pillar">
        <h2>
            Technology 
        </h2>
        Programming, Robotics, AI, DevOps
    </div>

    <div class="pillar">
        <h2>
            Business 
        </h2>
        Sales, Management, Entrepreneurship
    </div>

    <div class="pillar">
        <h2>
            Wealth
        </h2>
        Investing, Financial Freedom, Asset Management
    </div>

    <div class="pillar">
        <h2>
            Hard Sciences
        </h2>
        Physics, Chemistry, Biology, Math
    </div>
    
    <div class="pillar">
        <h2>
            Social-Emotional
        </h2>
        Self care, Tribe, Relationships
    </div>



</div>

	<div id="fold3"> 
		<div class="item">
			<h2>Prepare For Life</h2>
			<p>At Mana, we believe in the maximal empowerment of the individual, through teaching skills that will enable, empower, accelerate, and energize our students. </p>
		</div>
		<div class="item">
			<h2>Why Mana</h2>
			<p>Traditional education - to sit, listen, memorize, and test - do not prepare you to succeed in the real world. We test the bounds of what is possible in transferring the expertise and wisdom of our mentors to our students.</p>
		</div>
		<div class="item">
			<h2>Mentor / Facilitator model</h2>
			<p>All of us have had great teachers; but you won't find that role at Mana. Instead, we cultivate mentors and facilitators to enable and cultivate a garden of learning and possibility for our students. Ultimately, our students decide their journey.</p>
           
		</div>
		<div class="item">
			<h2>Our model</h2>
			<p>We offer 1-1 or group sessions for specific subjects. We are highly customized to each learner's needs; we also offer strong foundations if there is no pre-determined subject matter. As Ghandi once said, If you do not know your life's purpose, then your purpose is to find your purpose. If not, then we'll do our best to prepare our students to take the best next steps they can. </p>
           
		</div>
		<div class="item">
			<h2>Are you ready?</h2>
			<p>Book a free consultation and class package from one of our experts. We guarantee you will look at learning in a new light, and that we can deliver exceptional results for you.</p>
            
		</div>
	</div>
	<footer>
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0099ff" fill-opacity="1" d="M0,224L80,218.7C160,213,320,203,480,208C640,213,800,235,960,218.7C1120,203,1280,149,1360,122.7L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
		<div class="footer-info">
			<p>&copy; 2023 Mana School, founded by Charlie Van Norman</p>
			<div class="social-media">
				<a href="#"><img src="facebook.png"></a>
    </footer>


<script src="/static/js/index.js"></script>

